@import 'reset.scss';
@import 'variable.scss';
@import 'mixin.scss';
body {
  @include noto-sans(400);
  color: #333;
}
// common
.badge{
  width: 20px;
  height: 20px;
  background-color: $main_color;
  color: #fff;
  border-radius: 20px;
  text-align: center;
  line-height: 18px;
  font-size: 0.8rem;
}

// header
.headerWrap{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10%;
  background-color: rgba(239, 239, 239, 0.9);
  box-shadow: 3px 3px 3px #efefefaf;
  position: sticky;
  top: 0;
  z-index: 99;
  .rightContent{
    li{ 
      display: flex; gap: 6px; align-items: center;
      font-size: 1.25rem;
      i{ font-size: 1.25rem;}
    }
  }
  .logo{
    .logo-image{
      width: 200px;
      height: 100px;
    }
  }
}
// == header end

.mainLayout{
  & > div{
    width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
    min-height: calc(100dvh - 60px);
  }
  // home - 리스트 페이지
  .home{ 
    width: 100%;
    .sliderWrap{ 
      width: 100%; height: 475px; background-color: palegreen;
      .swiper{
        height: 100%;
        .overflow-hidden {height: 100%;}
        img{ object-fit: cover;}
      }
    }
    .bottomContent{ 
      width: 1200px; margin: 0 auto;
      .tapWrap{
        width: 100%; height: 60px; background-color: #fff;
        border: 1px solid #efefef;
        display: flex; justify-content: space-between;
        ul{
          height: 100%;
          display: flex; align-items: center;
          li{ 
            padding: 0px 20px;
            height: max-content;
            position: relative;
            font-size: 1.25rem;
            &::after{
              content: "";
              display: block;
              position: absolute;
              right: 0;
              top: 25%;
              width: 1px;
              height: 50%;
              background-color: rgba(155, 155, 155, 0.604)
            }
          }
        }
      }
    }
    .listWrap{
      padding: 20px 0;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 20px;
      .cardItem{ 
        width: calc( 25% - 20px );
        .imgWrap{ width: 100%; height: 275px; background-color: aqua; margin-top: 10px;}
        .textWrap{
          margin-top: 10px;
          .tit{ font-size: 1.35rem; font-weight: 500;  @include ellipsis}
          .desc{ 
            font-size: 1.1rem; font-weight:400; color: $sub_txt_color; margin-top: 5px;
            @include ellipsis(3); height: 80px;
          }
          .priceBox{ 
            margin-top: 15px;
            display: flex;
            align-items: center;
            gap: 5px;
            .discountRate{display: inline-block; padding: 2.5px 5px; border-radius: 5px; background-color: $point_color; color: #fff; }
            .price{ font-size: 1.8rem; color: $point_color}
          }
        }
      }
    }
  } // == home end
}
footer{width: 100%; height: 100px; background-color: $main_color; color: $sub_color; padding: 15px 20px; margin-top: 20px; box-sizing: border-box;  }